<!DOCTYPE html>
<html lang="fr">
<%- include('components/head.ejs') %>

    <body>
        <%- include('components/entete.ejs') %>
            <%- include('components/adresses.ejs') %>
                <%- include('components/footer.ejs') %>
    </body>

</html>
